version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: storyhyb_data
    restart: always
    environment:
       POSTGRES_USER: postgres
       POSTGRES_PASSWORD: 142139142
       POSTGRES_DB: storyhub
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
